:root {
  --pha-font-size: 20px;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container > .hero {
  background-color: #1abc9c;
  color: #fff;
  text-align: center;
  padding: 70px 0;
  font-size: 20px;
}
.container > .hero h2 {
  margin-bottom: 20px;
}
/* Top Menu Section*/

.container > .top-menu {
  background-color: black;
  padding: 10px 0;
}
.container > .top-menu > ul {
  list-style-type: none;
  display: flex;
}
.container > .top-menu ul > li a {
  color: #fff;
  text-decoration: none;
  padding: 10px 10px;
}
.container > .top-menu > ul > li:hover > a {
  background-color: #f1f1f1;
  color: black;
}

/**content **/

.content {
  display: flex;
}

.content > .about-me {
  background-color: #f1f1f1;
  padding: 30px 10px 50px;
}

.content > .about-me > h2 {
  margin-bottom: 20px;
}

.content > .about-me > p {
  margin-bottom: 10px;
}

.content > .about-me > .img > p:first-child {
  background-color: #aaaaaa;
  padding: 20px 230px 230px 20px;
  display: inline-block;
  margin: 20px 0;
}
.about-me > .img > p + p {
  font-size: var(--pha-font-size);
  max-width: 230px;
}
.about-me > .img > h2 {
  margin: 15px 0;
}

.about-me > .img > h2 + p {
  font-size: var(--pha-font-size);
}

/** content bottom image */

.content-bottom-image ul {
  list-style-type: none;
}
.content-bottom-image ul li {
  padding: 20px 225px 20px 20px;
  background-color: #aaaaaa;

  margin: 10px 0;
}
.content-bottom-image ul li a {
  text-decoration: none;
  color: black;
}

.title-heading > .title-heading-top > h2 {
  padding: 0px 0px 10px;
}
.title-heading {
  padding: 30px 20px 30px;
}

.title-heading > .title-heading-top > h2 + p {
  padding: 20px 0;
  font-weight: bold;
}
.content-title-heading-img > p {
  background-color: #aaaaaa;
  padding: 30px 30px 220px;
}
.content-title-heading-img + p {
  padding: 20px 0;
  font-size: var(--pha-font-size);
}
.content-title-heading-img + p + p {
  font-size: var(--pha-font-size);
  padding-bottom: 40px;
}

/*  Fotter  */
.footer {
  background-color: #aaaaaa;
  text-align: center;
  font-size: var(--pha-font-size);
  padding: 30px 0;
}

@media screen and (max-width: 587px) {
  .content {
    display: block;
  }
  .container > .top-menu > ul {
    display: block;
    text-align: center;
  }
  .container > .top-menu ul > li a {
    display: block;
  }
  .content > .about-me > h2 {
    --pha-font-size: 30px;
    font-size: var(--pha-font-size);
  }
  .content > .about-me > .img > p:first-child {
    display: block;
  }
  .about-me > .img > p + p {
    max-width: 100%;
  }
}
